/* Configurações Iniciais */
    @font-face {
        font-family: Montserrat;
        src: url(../_fonts/Montserrat-Regular.ttf);
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root {
        --yellow: hsla(59, 100%, 60%, 1);
        --yellow-light: hsla(59, 100%, 80%, 1);
        --blue: hsla(240, 100%, 60%, 1);
        --blue-light: hsla(240, 100%, 80%, 1);
        --red: hsla(0, 100%, 60%, 1);
        --red-light: hsla(0, 100%, 80%, 1);
        --black: hsla(223, 30%, 10%, 1);
        --black-light: hsla(223, 30%, 15%, 1);
        --black-lighter: hsla(223, 30%, 25%, 1);
        --black-pluslighter: hsla(223, 20%, 35%, 1);
        --black-evmolighter: hsla(223, 20%, 75%, 1);
        --blue-dark: hsla(231, 81%, 8%, 1);
        --violet: hsla(257, 62%, 20%, 1);
        --violet-light: hsla(257, 62%, 30%, 1);
        --violet-lighter: hsla(257, 100%, 58%, 1);
        --ivory: hsla(65, 43%, 95%, 1);
        
    }
    ::-webkit-scrollbar { 
        height: 8px;
        width: 8px;
        background-color: var(--black-light);
    }
    ::-webkit-scrollbar-button { display: none; }
    ::-webkit-scrollbar-thumb { background-color: var(--ivory); }
    body {
        margin: 0;
        user-select: none;
        font-family: Montserrat;
        background-color: var(--black-pluslighter);
    }
    #wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
/****/
/* Barra de Título */
    #title-bar {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        background-color: var(--black);
    }
    #title-bar h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        color: var(--ivory);
        font-size: 1em;
        -webkit-app-region: drag;
    }
    #title-bar h1 img {
        padding: 10px;
    }
    #title-bar .ctr-button {
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s;
    }
    #title-bar .ctr-button[id="min"]:hover { background-color: var(--blue-light); }
    #title-bar .ctr-button[id="max"]:hover { background-color: var(--yellow-light); }
    #title-bar .ctr-button[id="clo"]:hover { background-color: var(--red-light);; }
/****/
/* Área de Conteúdo */
    #content-area {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        --folder-panel-w: 270px;
        --footer-bars-h: 30px;
        --root-folder-h: 55px;
    }
    #folder-panel {
        display: flex;
        flex-direction: column;
        width: var(--folder-panel-w);
        border-right: 5px solid var(--black);
    }
    #root-folder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--root-folder-h);
        padding: 10px;
        color: var(--ivory);
        font-size: 1.1em;
        text-align: center;
        background-color: var(--black-light);
        border-bottom: 5px solid var(--black);
    }
    #folder-tree {
        flex-grow: 1;
        height: calc(100vh - 40px - var(--footer-bars-h) - var(--root-folder-h));
        background-color: var(--black-pluslighter);
        padding: 15px;
        overflow: auto;
    }
    #folder-tree:focus {
        border: 2px solid var(--yellow);
        outline: none;
    }
    #folder-tree::-webkit-scrollbar {
        background-color: var(--black-lighter);
    }
    #folder-tree .dir .content {
        padding-left: 15px;
    }
    #folder-tree .dir.hidden .content {
        display: none;
    }
    #folder-tree .dir .name, #folder-tree .file {
        font-size: 1em;
        color: var(--black-evmolighter);
        padding-bottom: 10px;
        cursor: pointer;
        white-space: nowrap;
    }
    #folder-tree .dir .name:focus, #folder-tree .file:focus {
        font-weight: 800;
        color: var(--yellow);
        outline: none;
    }
    #folder-tree .dir .name::before { 
        content: url(../_img/dir-opened-16x16.png);
    }
    #folder-tree .dir.hidden .name::before { 
        content: url(../_img/dir-closed-16x16.png);
    }
    #folder-tree .file::before {
        content: url(../_img/doc-16x16.png);
    }
    #folder-tree .dir .name::before, #folder-tree .file::before {
        padding-right: 5px;
    }
    #folder-tree input {
        width: 150px;
        padding: 5px;
        margin-bottom: 10px;
        background-color: var(--black-pluslighter);
        border: 2px solid var(--black-evmolighter);
        border-radius: 5px;
        outline: none;
        font-size: 1em;
        font-family: Montserrat;
        font-weight: 700;
        color: var(--black-evmolighter);
    }
    #operation-bar {
        width: 100%;
        height: var(--footer-bars-h);
        display: flex;
        flex-direction: row;
        background-color: var(--black);
    }
    #operation-bar > *{
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #operation-bar > .btn:disabled { background-color: var(--black-lighter); }
    #operation-bar > .btn:hover { background-color: var(--black-lighter); }
    #editor-panel {
        display: flex;
        flex-direction: column;
        width: calc(100% - var(--folder-panel-w));
    }
    #tabs {
        width: 100%;
        height: var(--root-folder-h);
        display: flex;
        flex-direction: row;
        background-color: var(--black-lighter);
        overflow-x: scroll;
    }
    #tabs .tab {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 12px;
        color: var(--ivory);
        font-weight: 550;
        white-space: nowrap;
        background-color: var(--black-lighter);
        border-right: 2px solid var(--black-light);
    }
    #tabs .tab.selected {
        background-color: var(--black-light);
    }
    #tabs .name {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        padding: 0 15px;
        vertical-align: middle;
    }
    #tabs .tab .x { cursor: pointer; }
    #tabs .tab .x::before {
        content: "×";
        font-style: normal;
        font-weight: 300;
        font-size: 1.9em;
    }
    #tabs .tab .x.not-saved::before {
        content: '●';
    }
    #ace-container {
        width: 100%;
        flex-grow: 1;
        position: relative;
    }
    #ace-container iframe {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        border: none;
        background-color: white;
    }
    #ace-editor {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 1.25em;
    }
    #status-bar {
        width: 100%;
        height: var(--footer-bars-h);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: var(--black);
    }
    #status-bar > * {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 15px;
    }
    #status-bar > .btn:disabled { background-color: var(--black-lighter); }
    #status-bar > .btn:hover { background-color: var(--black-lighter); }
    #line-count, #column-count {
        width: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--black-evmolighter);
        font-size: 0.9em;
        font-weight: 600;
    }
    #view-graphic {
        padding: 0 15px;
    }
    #view-graphic:hover { background-color: var(--black-lighter); }
    #view-graphic.selected { background-color: var(--violet-light); }
    .btn {
        cursor: pointer;
        border-style: none;
        background-color: transparent;
        outline: none;
    }
/****/